@import url(https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@100;200;300;400;500;600;700&display=swap);

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
* {
    font-family: "Poppins", serif; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Header sc */
.header-home-container {
    width: 100%;
    height: 900px;
    background-image: url(./img/p-1.png);
}
.header-img {
    position: absolute;
}
.header-items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
    padding-right: 230px;
    padding-top: 39px;
    font-size: 18px;
    line-height: 24.3px;
    
}
.header-items a {
    color: rgba(1, 1, 13, 1);
}
.header-btn {
    display: inline-block;
    font-weight: 700;
}
.new {
    transform: translateY(10px)
}
.header-visited {
    display: inline-flex;
    width: 100%;
    transform: translateY(10px);
    border-radius: 4px;
    background-color: rgba(22, 23, 219, 1);
    border: 3px solid rgba(22, 23, 219, 1);
    
}
.header-border {
    display: inline-block;
    margin-left: 155px;
    width: 1134px;
    border: 1px solid rgba(22, 23, 219, 1);
    opacity: 5%;
    transform: translateY(-3px);
}
#header-link {
    color: white;
    padding: 15px 30px;
    display: inline-block;
    background-color: rgba(22, 23, 219, 1);
    border-radius: 6px;
}
/* Home sc */
.home-container {
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 229px;
    overflow: hidden;
}
.home-text__1{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(22, 23, 219, 1);
    margin-bottom: 10px;
}
.home-text h1 {
    font-weight: 700;
    font-size: 67px;
    line-height: 80.4px;
    color: rgba(1, 1, 13, 1);
    margin-bottom: 20px;
}
.home-text__2{
    width: 456.54px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(1, 1, 13, 1);
    margin-bottom: 40px;
}
#header-link__2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 31.35px;
    border: 1px solid rgba(22, 23, 219, 0.2);
    border-radius: 6px;
}
.home-btns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}


/* Service sc */
.service-container h2{
    padding-top: 95.58px;
    font-weight: 700;
    font-size: 51px;
    line-height: 61.2px;
    color: rgba(1, 1, 13, 1);
    margin-bottom: 25px;
    text-align: center;
}
.service-container >p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    text-align: center;
    margin-bottom: 75px;
}
.service-img__circle {
    width: 105.56px;
    height: 105.56px;
    border: 1px solid rgba(223, 243, 238, 1);
    border-radius: 50%;
}
.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.service-img__circle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-circle__1 {
    position: absolute;
    transform: translateX(-9px) translateY(-8px);
}
.service-circle__2 {
    transform: translateX(-16px) translateY(40px);
} 
.service-circle__3 {
    transform: translateY(-43px) translateX(55px);
}
.service-circle__4 {
    transform: translateX(-5px);
}
.service-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

/* Product sc */
.product-title {
    padding-top: 123px;
    padding-left: 232px;
    margin-bottom: 70px;
}
.product-image__1 {
    background: rgba(248, 215, 217, 1);
    border: 1px solid rgba(204, 204, 204, 1);
    border-radius: 60px;
    
}
.p-2 {
background-color: rgba(196, 196, 196, 1);
}
.p-3 {
    background-color: rgba(220, 210, 212, 1);
}
.product-img__border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 311.89px;
    height: 400.32px;
    border-radius: 64px;
    border: 3px solid rgba(204, 204, 204, 1);
    
}
.product-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.product-card {
    width: 311.89px;
    height: 400.32px;
    overflow: hidden;
}
.product-circle {
    position: relative;
    bottom: 80px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 144.4px;
    height: 144.4px;
    border-radius: 50%;
    opacity: 70%;
    
    background: rgba(255, 255, 255, 1);               
}
.product-image__2 {
    transform: translateX(-35px) translateY(-35px);
}
/* Bestwatch sc */
.bestwatch-container {
    margin-top: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.bestwatch-info h2 {
    font-weight: 700;
    font-size: 51px;
    line-height: 61.2px;
    color: rgba(1, 1, 13, 1);
    margin-bottom: 25px;
}
.bestwatch-info p {
    font-size: 16px;
    line-height: 24px;
    color: rgba(1, 1, 13, 1);
    margin-bottom: 45px;
}
.bestwatch-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 64px;
    border: 1px solid rgba(205, 205, 205, 1);
    color: rgba(22, 23, 219, 1);
    font-weight: 500;
}

/* Comment sc */
.comment-container {
    position: relative;
    z-index: 2;
    margin-top: 178px;
    width: 691.84px;
    height: 243.67px;
    border-radius: 10px;
    background: rgba(244, 244, 244, 1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 79px;
    margin-left: 233px;
    
}
.comment-container p{
    margin-bottom: 30px;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.about strong {
    width: 38.29px;
    display: inline-block;
    border: 1px solid lightgray;
    position: relative;
    bottom: 2px;
    left: 18px;
}
.about h2 {
    font-size: 16px;
    line-height: 25.8px;
    color: rgba(1, 1, 13, 1);
}
.about span {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22.4px;
    color: rgba(1, 1, 13, 1);
}
.about-label {
    margin-left: 122px;
}
.dotted-border {
    position: relative;
    z-index: 1;
    transform: translateX(222px) translateY(-255px);
    width: 701.07px;
    height: 254.16px;
    border-radius: 10px;
    border: 2px dashed rgba(211, 207, 207, 1)
}

/* Footer sc */
.footer-container {
    width: 100%;
    height: 365.66px;
    background: rgba(247, 247, 247, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 129px;
}
.footer-1 {
    position: relative;
    bottom: 33px;
}
.footer-1 h2 {
    font-size: 18px;
    line-height: 28.8px;
    color: rgba(1, 1, 13, 1);
    margin-bottom: 25px;
}
.footer-1 p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: rgba(1, 1, 13, 1);
    margin-bottom: 20px;
}
.footer-1 i {
   color: rgba(31, 27, 27, 1);
   font-size: 18px;
   margin-right: 10px;
}
.footer-2 {
    position: relative;
    bottom: 37px;
}
.footer-items h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
    color: rgba(1, 1, 13, 1);
    margin-bottom: 24px;
}
.footer-items li {
    font-size: 16px;
    line-height: 39.2px;
}
.footer-items a {
    color: rgba(1, 1, 13, 1);
}
.footer-5 h2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 19.2px;
    color: rgba(1, 1, 13, 1);
    margin-bottom: 30px;
}
.footer-5 {
    position: relative;
    bottom: 58px;
}
.footer-5 input {
    border: none;
    width: 163.65px;
    height: 35.9px;
    background: rgba(255, 255, 255, 1);
    border-radius: 6px;
}
.footer-5 input::placeholder {
    padding-left: 18px;
}